name: Super Linter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Super-Linter
        uses: super-linter/super-linter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          # keep the assignment's focus: Python
          VALIDATE_PYTHON: true
          # keep plain markdown linting incase i want to disable prettier
          VALIDATE_MARKDOWN: true
          VALIDATE_MARKDOWN_PRETTIER: false
          # disable the Zizmor workflow linter to avoid blocking
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          # VALIDATE_GITHUB_ACTIONS: false

